@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body, html {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing:inherit
}

.container {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  height: 100%;
  display: flex;
  flex: 1 ;
  flex-direction: column;
  overflow-y: hidden;

  &.fixedContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 9999;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 16px 40px 0px;

    @media only screen and (min-width: 600px ) {
      position: fixed;
      right: 0;
      bottom: 0;
      margin: 0 20px 20px 0;
      max-width: 370px;
      width: 90vw;
      height: 70vh;
      border-radius: 15px;
    }
  }
}